customtkinter==6.0.0
pillow==12.3.0
python-dotenv==1.2.2
loguru==0.7.3
sqlalchemy==2.0.51
playwright==1.61.0
requests==2.34.2
beautifulsoup4==4.15.0
lxml==6.1.1
pandas==3.0.3
openpyxl==3.1.5
pyinstaller==6.21.0
